@charset "ISO-8859-1";

/* Estilos gerais */
body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
}

/* Estilos específicos para este arquivo XHTML */
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;
	margin-top: 20px;
}

.container>div {
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h3 {
	margin-bottom: 10px;
}

.container label {
	display: block;
	margin-bottom: 5px;
}

.container input, .container select {
	
	padding: 6px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 14px;
}

.container .btn-container {
	text-align: right;
}

.container .btn-container button {
	padding: 10px 20px;
	font-size: 16px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	background-color: #007bff;
	color: #fff;
	transition: background-color 0.3s ease;
}

.container .btn-container button:hover {
	background-color: #0056b3;
}

.errorMessage {
	background-color: #f8d7da;
	color: #721c24;
	border: 1px solid #f5c6cb;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.login-panel, .cadastro-panel {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}